{% extends 'master.html' %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}

{% block content %}
  <div class="mycard d-flex justify-content-end">
    <a type="button" class="btn btn-outline-success my-2" href="add_new_member">Add Member</a>
  </div>

  <!-- Members Section -->
  <section id="contact" class="contact py-5">
    <div class="container">
      <div class="text-center">
        <h2>Members</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for x in mymembers %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ x.first_name|capfirst }}</td>
                    <td>{{ x.last_name|capfirst }}</td>
                    <td>
                      <div class="btn-group" role="group">
                        <a type="button" class="btn btn-outline-secondary" href="details/{{ x.slug }}">Details</a>
                        <a type="button" class="btn btn-outline-info" href="edit/{{ x.id }}">Edit</a>
                        <a type="button" class="btn btn-outline-danger" href="delete/{{ x.id }}">Delete</a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <div class="container">
    <div class="d-flex justify-content-center">
      <ul class="pagination">
        {% if mymembers.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ mymembers.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for page in mymembers.paginator.page_range %}
          <li class="page-item {% if page == mymembers.number %}active{% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endfor %}
        {% if mymembers.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ mymembers.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ mymembers.paginator.num_pages }}">Last</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
